@charset "UTF-8";
html {
  font-size: 16px;
}

body {
  font-family: "Roboto", "Noto Sans JP", sans-serif;
}

a[href^="tel:"] {
  pointer-events: none;
}
@media screen and (max-width: 768px) {
  a[href^="tel:"] {
    pointer-events: auto;
  }
}

a {
  transition: opacity 0.3s;
}
a:hover {
  opacity: 0.7;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul,
ol {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul,
ol {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

a {
  text-decoration: none;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
  width: 100%;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Blur images when they have no alt attribute */
img:not([alt]) {
  filter: blur(10px);
}

/* フォームリセット */
input,
button,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  font: inherit;
  outline: none;
}

textarea {
  resize: vertical;
}

input[type=checkbox],
input[type=radio] {
  display: none;
}

input[type=submit],
input[type=button],
label,
button,
select {
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

.header {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 74px;
  background-color: #f7f7ee;
}

.header__inner {
  padding: 0 120px;
  display: flex;
  align-items: center;
  height: inherit;
}
@media screen and (max-width: 1024px) {
  .header__inner {
    padding: 0 25px;
  }
}
@media screen and (max-width: 768px) {
  .header__inner {
    padding: 0 15px;
  }
}

.header__title {
  font-size: 26px;
  font-weight: 500;
  color: #2b3f2f;
  margin-right: auto;
}
@media screen and (max-width: 768px) {
  .header__title {
    font-size: 24px;
  }
}

.header__nav {
  height: inherit;
}

.header__items {
  display: flex;
  align-items: center;
  height: inherit;
}

.header__item:not(:first-child) {
  margin-left: 66px;
}

.header__link {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.05em;
  color: #2b3f2f;
}

.header__contact {
  margin-left: 66px;
}

.hamburger {
  position: fixed;
  z-index: 9999;
  top: 30px;
  right: 15px;
  width: 25px;
  height: 16px;
  cursor: pointer;
}

.hamburger.is-active {
  right: 20px;
}

.hamburger span {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  height: 2px;
  width: 100%;
  background-color: #2b3f2f;
  transition: transform 0.3s;
}

.hamburger span:nth-child(1) {
  top: 0;
}

.hamburger span:nth-child(2) {
  top: 8px;
  transition: opacity 0.3s;
}

.hamburger span:nth-child(3) {
  top: 16px;
}

.hamburger.is-active span:nth-child(1) {
  top: 15px;
  transform: rotate(-45deg);
}

.hamburger.is-active span:nth-child(2) {
  opacity: 0;
}

.hamburger.is-active span:nth-child(3) {
  top: 15px;
  transform: rotate(45deg);
}

.drawer-menu {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5000;
  width: 100%;
  height: 100vh;
  background-color: #f7f7ee;
}

.drawer-menu__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: inherit;
}

.drawer-menu__items {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.drawer-menu__item:not(:first-child) {
  margin-top: 50px;
}

.drawer-menu__link {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.05em;
  color: #2b3f2f;
}

.drawer-menu__contact {
  margin-top: 50px;
}

.mv {
  background-image: url(images/mv-img.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.mv__heading {
  font-size: 48px;
  font-weight: 500;
  color: #f7f7ee;
  letter-spacing: 0.05em;
  line-height: 1.375;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .mv__heading {
    font-size: 30px;
    line-height: 1.333;
  }
}

.vision {
  padding: 145px 0 120px;
}
@media screen and (max-width: 768px) {
  .vision {
    padding: 135px 0 140px;
  }
}

.vision__title {
  margin-top: 50px;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 0.05em;
  line-height: 1.8333;
  color: #2b3f2f;
}
@media screen and (max-width: 768px) {
  .vision__title {
    font-size: 20px;
    line-height: 1.8;
  }
}

.vision__text {
  margin-top: 30px;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.05em;
  line-height: 1.875;
  color: #2b3f2f;
}

.service {
  background-color: #f7f7ee;
  padding: 100px 0;
}

.service__cards {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  -moz-column-gap: 35px;
       column-gap: 35px;
  row-gap: 46px;
}
@media screen and (max-width: 768px) {
  .service__cards {
    padding: 0 12.5px;
  }
}

.card__img {
  aspect-ratio: 320/240;
}

.card-title {
  text-align: center;
  margin-top: 20px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  color: #2b3f2f;
}
@media screen and (max-width: 768px) {
  .card-title {
    margin-top: 14px;
  }
}

.news {
  padding: 100px 0 101px;
}

.news__items {
  margin-top: 49px;
}

.news__item:not(:first-child) {
  margin-top: 30px;
}

.news-item {
  display: flex;
  padding-bottom: 30px;
  border-bottom: 1px solid #e7e7db;
}
@media screen and (max-width: 768px) {
  .news-item {
    flex-direction: column;
    padding-bottom: 20px;
  }
}

.news-item__date {
  font-size: 15px;
  font-weight: 500;
  line-height: 1.467;
  color: #2b3f2f;
}
@media screen and (max-width: 768px) {
  .news-item__date {
    line-height: 1.6;
  }
}

.news-item__title {
  color: #2b3f2f;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.05em;
  margin-left: 46px;
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}
@media screen and (max-width: 768px) {
  .news-item__title {
    margin-left: 0;
    margin-top: 10px;
    line-height: 1.6;
  }
}

.contact {
  background-image: url(/images/contact-img.jpg);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 340px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  .contact {
    background-image: url(/images/contact-img-sp.jpg);
  }
}

.footer {
  background-color: #2b2b21;
  padding: 32px 0;
}
@media screen and (max-width: 768px) {
  .footer {
    padding: 22px 0;
  }
}

.footer__copyright {
  color: #f7f7ee;
  display: block;
  text-align: center;
  font-size: 14px;
}

.inner {
  max-width: 1060px;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-inline: auto;
}

.contact-button {
  background-color: #2b3f2f;
  color: #f7f7ee;
  padding: 15.5px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 130px;
  border-radius: 4px;
  transition: background-color 0.3s;
  letter-spacing: 0.05em;
}
.contact-button:hover {
  opacity: 1;
  background-color: #4d6452;
}

.contact-button--wide {
  width: 220px;
  font-size: 20px;
}
@media screen and (max-width: 768px) {
  .contact-button--wide {
    font-size: 16px;
  }
}

.heading {
  position: relative;
  font-size: 36px;
  font-weight: 500;
  color: #2b3f2f;
  letter-spacing: 0.05em;
  line-height: 1;
  padding-bottom: 16px;
}

.heading::after {
  position: absolute;
  content: "";
  width: 34px;
  height: 4px;
  background-color: #2b3f2f;
  bottom: 0;
  left: 0;
  border-radius: 2px;
}

.heading--center {
  text-align: center;
}
@media screen and (max-width: 768px) {
  .heading--center {
    text-align: left;
  }
}

.heading--center::after {
  left: 50%;
  transform: translateX(-50%);
}
@media screen and (max-width: 768px) {
  .heading--center::after {
    left: 0;
    transform: translateX(0);
  }
}

.md-show {
  display: none;
}
@media screen and (max-width: 768px) {
  .md-show {
    display: block;
  }
}

@media screen and (max-width: 768px) {
  .md-none {
    display: none;
  }
}
